---
/**
 * Properties to pass to the {@linkcode SocialsItem} component.
 */
type Props<P extends string = string> = DotDevSocialsItem<P>;

export type { Props as SocialsItemProps };

const { platform_name, ...props } = Astro.props;

let icon: string | undefined;
let name: string;
let link: string;

switch (platform_name) {
	case "bluesky": {
		icon = "tabler-brand-bluesky";
		name = props.name;
		link = `https://bsky.app/profile/${name}`;
		break;
	}
	case "discord": {
		icon = "tabler-brand-discord";
		name = props.name;
		link = `https://discord.com/users/${(props as any).id}`;
		break;
	}
	case "github": {
		icon = "tabler-brand-github";
		name = props.name;
		link = `https://github.com/${name}`;
		break;
	}
	case "steam": {
		icon = "tabler-brand-steam";
		name = (props as any).id;
		link = `https://steamcommunity.com/id/${name}`;
		break;
	}
	default: {
		({ name, link } = props);
	}
}
---

<a
	b="1 rd-1 solid transparent target:ultraviolet/50 hover:ultraviolet/50"
	bg="hover:ultraviolet/10"
	c="unset visited:unset"
	h="max-12"
	href={link}
	p="2"
	t="[background-color,border-color]-125-ease"
	target="_blank"
	title=`${platform_name}: ${name}`
	rel="noreferrer"
>
	{icon && <span block="~" icon={icon} />}
	<span select={icon ? "none" : "auto"} sr-only={icon ? "~" : undefined}>
		{icon ? name : `${platform_name}: ${name}`}
	</span>
</a>
